<% include partials/header %>

<!--<link rel="stylesheet" href="app.css" > 
 serve this stylesheet from the public directory. --> 

<h1>The Posts page. </h1>

<% for ( var i=0 ; i< posts.length ; i++ ) { %>
	<li>
		<%= posts[i].title %> - <strong><%= posts[i].author %> </strong>
	</li>
<% } %>

<!-- can also use for-each  -->

<% posts.forEach( function(post) { %>
	<li>
		<%= post.title %> - <strong><%= post.author %> </strong>
	</li>
<% }); %> 
